#backGroundImg{
    height: 100vh;
    width: 100%;
}
#gameRoad{
    background-color: black;
    height: 483px;
    width: 375px;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
    overflow: hidden;
}
.line{
    position: absolute;
    background-color: aliceblue;
    height: 150px;
    width: 6%;
    margin-left: 48%;
}
#line_1{
    top: -150px;
}
#line_2{
    top: 150px;
}
#line_3{
    top: 450px;
}
#bike{
background-image: url("../images/myBike.png");
    width: 50px;
    height: 120px;
    background-size: cover;
    background-repeat: no-repeat;
    bottom: 12px;
    left: 0;
    right: 0;
    margin: auto;
    position: absolute;
}
#dBike1{
    background-image: url("../images/dbike_1.png");
    width: 116px;
    height: 124px;
    background-size: cover;
    background-repeat: no-repeat;
    bottom: 158px;
    left: 68px;
    right: 0;
    margin: auto;
    position: absolute;
}
#dBike2{
    background-image: url("../images/dbike_1.png");
    width: 116px;
    height: 124px;
    background-size: cover;
    background-repeat: no-repeat;
    bottom: 15px;
    left: -39px;
    right: 0;
    margin: auto;
    position: absolute;
    top: -414px;
}
#dBike3{
    background-image: url(../images/dbike_1.png);
    width: 116px;
    height: 124px;
    background-size: cover;
    background-repeat: no-repeat;
    bottom: 300px;
    left: -143px;
    right: 0;
    margin: auto;
    position: absolute;
    top: -414px;
}
#reStart{
position: absolute;
    height: 100%;
    width: 100%;
    background-color:#292929;
    color: white;
    font-family: sans-serif;
    font-size: 40px;
    text-align: center;
    display: none;
}
#btnRestart{
    border: none;
    padding: 25px;
    color: aliceblue;
    background-color: #b33939;
    font-size: 30px;
    margin-top: 30%;
}

#scoreDiv{
    position: absolute;
    margin-top: -178px;
    margin-left: 10%;
    font-size: 30px;
    background-color: burlywood;
    color: #292929;
    padding: 10px;
    box-shadow: 4px 4px 0px 1px #808080;
}
.rSmall{
    font-size: 20px;
}